/* ----------------------------Home--------------------------------- */

body {
    background-color: #454545;
}

.background {
    width: 98vw;
    height: 99vh;
    margin: 0px;
}

.overlay-text1 {
    position: absolute;
    top: 3.5%;
    left: 30%;
    transform: translate(-50%, -50%) scale(1);
    color: white;
    font-family: Roboto;
    font-size: 2.5vw;
    padding: 5px;
    border-radius: 8px;
    margin: 0px;
}

.sing-in-up {
    display: flex;
}

.sign-up {
    position: absolute;
    top: 3%;
    left: 82%;
    transform: translate(-50%, -50%) scale(1);
    color:black;
    font-family: Roboto;
    font-size: 1.8vw;
    background-color: white;
    padding: 5px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    transform: translateZ(0);
    text-decoration: none;
}

.sign-up:hover {
    transform: scale(1.2);
}

.sign-in {
    position: absolute;
    top: 3%;
    left: 90%;
    transform: translate(-50%, -50%) scale(1);
    color:black;
    font-family: Roboto;
    font-size: 1.8vw;
    background-color: #333333;
    padding: 5px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    transform: translateZ(0);
    text-decoration: none;
}

.sign-in:hover {
    transform: scale(1.1);
}

.home {
    position: absolute;
    top: 15%;
    left: 9.5%;
    transform: translate(-50%, -50%) scale(1);
    color: white;
    font-family: Roboto;
    font-size: 2vw;
    background-color: #454545;
    padding: 5px 20px 5px 70px;
    margin: 0px;
    border-radius: 8px;
    text-decoration: none;
}

.home-icon {
    position: absolute;
    top: 15%;
    left: 6.5%;
    transform: translate(-50%, -50%) scale(2);
}

.browse {
    position: absolute;
    top: 24%;
    left: 9.5%;
    transform: translate(-50%, -50%) scale(1);
    color: white;
    font-family: Roboto;
    font-size: 2vw;
    background-color: #333333;
    padding: 5px 20px 5px 70px;
    margin: 0px;
    border-radius: 8px;
    text-decoration: none;
}

.browse-icon {
    position: absolute;
    top: 24%;
    left: 5.8%;
    transform: translate(-50%, -50%) scale(2);
}

.downloadet {
    position: absolute;
    top: 33%;
    left: 9.5%;
    transform: translate(-50%, -50%) scale(1);
    color: white;
    font-family: Roboto;
    font-size: 2vw;
    background-color: #333333;
    padding: 5px 20px 5px 70px;
    margin: 0px;
    border-radius: 8px;
    text-decoration: none;
}

.downloadet-icon {
    position: absolute;
    top: 33%;
    left: 3.8%;
    transform: translate(-50%, -50%) scale(2);
}

.projects {
    position: absolute;
    top: 42%;
    left: 9.5%;
    transform: translate(-50%, -50%) scale(1);
    color: white;
    font-family: Roboto;
    font-size: 2vw;
    background-color: #333333;
    padding: 5px 20px 5px 70px;
    margin: 0px;
    border-radius: 8px;
    text-decoration: none;
}

.projects-icon {
    position: absolute;
    top: 42%;
    left: 5.5%;
    transform: translate(-50%, -50%) scale(2);
}

.settings {
    position: absolute;
    top: 92%;
    left: 9.5%;
    transform: translate(-50%, -50%) scale(1);
    color: white;
    font-family: Roboto;
    font-size: 2vw;
    background-color: #333333;
    padding: 5px 20px 5px 70px;
    margin: 0px;
    border-radius: 8px;
    text-decoration: none;
}

.settings-icon {
    position: absolute;
    top: 92%;
    left: 5.5%;
    transform: translate(-50%, -50%) scale(2);
}

.profile {
    position: absolute;
    top: 85%;
    left: 9.5%;
    transform: translate(-50%, -50%) scale(1);
    color: white;
    font-family: Roboto;
    font-size: 2vw;
    background-color: #333333;
    padding: 5px 20px 5px 80px;
    margin: 0px;
    border-radius: 8px;
    text-decoration: none;
}

.profile-icon {
    position: absolute;
    top: 85%;
    left: 6%;
    transform: translate(-50%, -50%) scale(1.9);
}

.home-2 {
    position: absolute;
    top: 17%;
    left: 27%;
    transform: translate(-50%, -50%) scale(1);
    color: white;
    font-family: Roboto;
    font-size: 5vw;
    margin: 0px;
    text-decoration: none;
}

.browse-2 {
    position: absolute;
    top: 17%;
    left: 28%;
    transform: translate(-50%, -50%) scale(1);
    color: white;
    font-family: Roboto;
    font-size: 5vw;
    margin: 0px;
    text-decoration: none;
}

.profile-icon-2 {
    position: absolute;
    top: 5%;
    left: 59%;
    transform: translate(-50%, -50%) scale(2);
}
/* ----------------------------Sign-up/in--------------------------------- */

.background-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.X {
    position: absolute;
    top: 18%;
    left: 62%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s ease;
    transform: translateZ(0);
}

.X:hover {
    transform: scale(1.1);
}

.username {
    position: absolute;
    top: 41%;
    left: 47%;
    transform: translate(-50%, -50%) scale(3);
}

.checkbox-1 {
    position: absolute;
    top: 41%;
    left: 60%;
    transform: translate(-50%, -50%) scale(3);
}

.e-mail {
    position: absolute;
    top: 55%;
    left: 47%;
    transform: translate(-50%, -50%) scale(3);
}

.checkbox-2 {
    position: absolute;
    top: 55%;
    left: 60%;
    transform: translate(-50%, -50%) scale(3);
}

.password {
    position: absolute;
    top: 70%;
    left: 47%;
    transform: translate(-50%, -50%) scale(3);
}

.checkbox-3 {
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-50%, -50%) scale(3);
}

.submit {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%) scale(3);
}

.user {
    position: absolute;
    top: 28%;
    left: 36%;
    transform: translate(-50%, -50%) scale(1);
    color:black;
    font-family: Roboto;
    font-size: 1.8vw;
    font-weight: 500;
    background-color: white;
    padding: 7px 25px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    transform: translateZ(0);
    text-decoration: none;
}

.user:hover {
    transform: scale(1.1);
}

.developer {
    position: absolute;
    top: 28%;
    left: 43.5%;
    transform: translate(-50%, -50%) scale(1);
    color:black;
    font-family: Roboto;
    font-size: 1.8vw;
    font-weight: 500;
    background-color: white;
    padding: 7px 25px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    transform: translateZ(0);
    text-decoration: none;
}

.developer:hover {
    transform: scale(1.1);
}

.provider {
    position: absolute;
    top: 28%;
    left: 55%;
    transform: translate(-50%, -50%) scale(1);
    color:black;
    font-family: Roboto;
    font-size: 1.8vw;
    font-weight: 500;
    background-color: white;
    padding: 7px 25px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    transform: translateZ(0);
    text-decoration: none;
}

.provider:hover {
    transform: scale(1.1);
}

.e-mail-2 {
    position: absolute;
    top: 45%;
    left: 47%;
    transform: translate(-50%, -50%) scale(3);
}

.checkbox-2-2 {
    position: absolute;
    top: 45%;
    left: 60%;
    transform: translate(-50%, -50%) scale(3);
}

.password-2 {
    position: absolute;
    top: 63%;
    left: 47%;
    transform: translate(-50%, -50%) scale(3);
}

.checkbox-3-2 {
    position: absolute;
    top: 63%;
    left: 60%;
    transform: translate(-50%, -50%) scale(3);
}

/* ----------------------------Browse--------------------------------- */

.search {
    position: absolute;
    top: 25%;
    left: 47%;
    transform: translate(-50%, -50%) scale(3);
    width: 450px;
}

.browse-button {
    position: absolute;
    top: 25%;
    left: 79%;
    transform: translate(-50%, -50%) scale(3);
}

.popular {
    position: absolute;
    top: 35%;
    left: 25%;
    transform: translate(-50%, -50%) scale(1);
    color: white;
    font-family: Roboto;
    font-size: 3vw;
    margin: 0px;
    text-decoration: none;
}