body {
    background-color: #454545;
}

.background {
    width: 98vw;
    height: 99vh;
    margin: 0px;
}

.overlay-text1 {
    position: absolute;
    top: 3%;
    left: 30%;
    transform: translate(-50%, -50%) scale(1);
    color: white;
    font-family: Roboto;
    font-size: 2.5vw;
    padding: 5px;
    border-radius: 8px;
    margin: 0px;
}

.sing-in-up {
    display: flex;
}

.sign-up {
    position: absolute;
    top: 3%;
    left: 83%;
    transform: translate(-50%, -50%) scale(1);
    color:black;
    font-family: Roboto;
    font-size: 1.8vw;
    background-color: white;
    padding: 5px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    transform: translateZ(0);
}

.sign-up:hover {
    transform: scale(1.1);
}

.sign-in {
    position: absolute;
    top: 3%;
    left: 91%;
    transform: translate(-50%, -50%) scale(1);
    color:black;
    font-family: Roboto;
    font-size: 1.8vw;
    background-color: #454545;
    padding: 5px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    transform: translateZ(0);
}

.sign-in:hover {
    transform: scale(1.1);
}

/* ---------------------------------------------------------------------- */

.background-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.username {
    position: absolute;
    top: 28%;
    left: 47%;
    transform: translate(-50%, -50%) scale(3);
}

.e-mail {
    position: absolute;
    top: 49%;
    left: 47%;
    transform: translate(-50%, -50%) scale(3);
}

.password {
    position: absolute;
    top: 70%;
    left: 47%;
    transform: translate(-50%, -50%) scale(3);
}

.submit {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%) scale(3);
}

.checkbox-1 {
    position: absolute;
    top: 28%;
    left: 60%;
    transform: translate(-50%, -50%) scale(3);
}

.checkbox-2 {
    position: absolute;
    top: 49%;
    left: 60%;
    transform: translate(-50%, -50%) scale(3);
}

.checkbox-3 {
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-50%, -50%) scale(3);
}